
.header_home {
    top: 0;
    height: 5em;
    width: 100%;
}
.header__top {
    width: 100%;
    margin-top: 10px;
    height: 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.header_home .menu_mobile__logo img{
    height: 4em;
}



/* MOBILE */
.menu_nav__mobile {
    position: fixed;
    z-index: 1000;
    width: 50%;
    left: 25%;
    right: 25%;
    height: 50px;
    bottom: 3%;
    background-color: var(--background-principal);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.menu_nav__mobile .nav_items {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    align-items: center;
    text-align: center;
}
.menu_nav__mobile .nav_items .nav_item{
    flex: 3;
    height: 40px;
}

.menu_nav__mobile .nav_items .nav_item button{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.menu_nav__mobile .nav_items .nav_item button:hover{
    width: 40px;
    height: 40px;
    padding: 0 10px;
    border-radius: 50%;
    background-color: #5B5551;
    border: 1px solid var(--color-secundary)
}
.menu_nav__mobile .nav_items .nav_item #create {
    width: 40px;
    height: 40px;
    padding: 3px 0 0 3px;
    border-radius: 50%;
    background-color: var(--background-terciary);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    border: 1px solid var(--color-secundary)
}
.nav_new {
    position: fixed;
    z-index: 99;
    width: 60%;
    left: 20%;
    right: 20%;
    height: 150px;
    bottom: 5%;
    padding: 20px 20px 0 20px;
    background-color: var(--background-terciary);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.nav_new p {
    margin: 0 0 5px 15px;
}
