
.header_home {
    top: 0;
    height: 5em;
    width: 100%;
}
.header__top {
    width: 100%;
    margin-top: 10px;
    height: 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.header_home .menu_mobile__logo img{
    height: 4em;
}
.header_home .menu_mobile__search {
    background-color: none;
    height: 40px;
    border: none;
    outline: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 10px;
}
.search__input{
    background-color: transparent;
    width: 0;
    transition: 0.6s;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}
.search__button{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.menu_mobile__search:hover{
    background-color: var(--background-terciary);
}
.menu_mobile__search:hover > .search__input{
    width: 220px;
    padding-left: 10px;
}
.menu_mobile__search:hover > .search__button{
    background-color: var(--background-terciary);
}
/* SEARCH */

.search__tags {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.search__tags p{
    margin: 10px 20px 10px 0;
    font-size: 14px;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    background-color: var(--background-terciary);

}



/* MOBILE */
.menu_nav__mobile {
    position: fixed;
    z-index: 1000;
    width: 50%;
    left: 25%;
    right: 25%;
    height: 50px;
    bottom: 5%;
    background-color: var(--background-principal);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.menu_nav__mobile .nav_items {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    align-items: center;
    text-align: center;
}
.menu_nav__mobile .nav_items .nav_item{
    flex: 3;
    height: 40px;
}

.menu_nav__mobile .nav_items .nav_item button{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.menu_nav__mobile .nav_items .nav_item button:hover{
    width: 40px;
    height: 40px;
    padding: 0 10px;
    border-radius: 50%;
    background-color: #5B5551;
    border: 1px solid var(--color-secundary)
}
.menu_nav__mobile .nav_items .nav_item #create {
    width: 40px;
    height: 40px;
    padding: 3px 0 0 3px;
    border-radius: 50%;
    background-color: var(--background-terciary);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    border: 1px solid var(--color-secundary)
}
.nav_new {
    position: fixed;
    z-index: 99;
    width: 60%;
    left: 20%;
    right: 20%;
    height: 150px;
    bottom: 5%;
    padding: 20px 20px 0 20px;
    background-color: var(--background-terciary);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.nav_new p {
    margin: 0 0 5px 15px;
}
