.home__img {
    width: 100%;
    margin: 35% auto;
}
.home__img img{
    width: 30%;
    display:block;
    margin:auto;
}
@supports(object-fit: cover){
    .container_home img{
        height: 20%;
        object-fit: cover;
        object-position: center center;
    }
}
.home__login {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
