.modal-item {
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    background-color: #645d59b2;
}
.modal-item-pin{
    width: 90%;
    max-width: 600px;
    position: fixed;
    margin: 0 auto;
    top: 10%;
    left: 0%;
    right: 0%;
    background-color: white;
    border-radius: 20px;
    z-index: 100;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.modal-pin {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-flow: column;
    padding: 0 10px 10px 10px;
}
.modal-button {
    width: 100%;
    padding: 20px 0 0 20px;
    height: 50px;
}
.modal-pin .modal-pin__img{
    width: 100%;
    height: 70%;
    padding: 10px 5px 0 5px;
}
.modal-pin .modal-pin__img img{
    width: 100%;
}
@supports(object-fit: cover){
    .modal-pin__img img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.pin__user{
    width: 100%;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}
.modal-pin .pin__title{
    width: 100%;
    height: 20px;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 700;
}

.modal-pin .modal-pin__hashtag{
    width: 100%;
    height: 20px;
    margin: 10px;
}
.modal-pin .modal-pin__link {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 400;
    text-decoration: none;
    color: var(--background-terciary);
}