.menu_mobile__notification {
    align-items: center;
    height: 40px;
    border: none;
    outline: none;
}

.notification__button{
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding-top: 1px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}