.profile__info {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.info__img img{
    border-radius: 50%;
    margin: 20px;
    height: 120px;
}

.board__title {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}
.board__title p:hover {
    font-size: 700;
}
.board__pin {
    display: grid;
    grid-auto-rows: 220px;
    grid-row-gap: 1.5rem;
}
.board__pin__img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}