.toast {
    position: fixed;
    top: 0;
    right: 5%;
    margin: auto;

    max-width: 400px;
    padding: 20px;
    background:#EAEAEA;
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;

}

.toast--visible{
    top: 75px;
    opacity: 1;
    visibility: visible;
}
