.button__goback {
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: 0;
    height: 25px;
    text-decoration: none;
    background-color: transparent;
    flex-flow: column wrap;
}