@import './header.css';
@import './gallery.css';
@import './mediaQuery.css';
@import './buttons.css';
@import './modal.css';
@import './form.css';
@import './profile.css';

:root{
    --background-principal:#645D59 ;
    --background-secundary: #5B5551;
    --background-terciary: #BAB2A9;
    --color-principal: #000;
    --color-secundary: #D0BEA7;
}

/*fonts
- font-family: 'Comfortaa', cursive;
- font-family: 'Roboto', sans-serif;
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-principal);
}
.container {
    width: 90%;
    margin: 0 auto;  /*El auto es para centrarlo en su max-widh*/
}

.hidden {
    visibility: hidden;
}
.h1_title {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
}

.h2__title {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
}

.h3__title {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}

