.menu_nav__mobile {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: 0px;
    background-color: var(--background-principal);
    border-radius: 20px;
}
.menu_nav__mobile .nav_items {
    display: flex;
    flex-flow: row wrap;
    height: 60px;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}
.menu_nav__mobile .nav_items .nav_item{
    padding-top: .6em;
    width: 25%;
    height: 30px;
}